{% extends "AppProyectoFinal/padre.html" %}

{% load static %}





{% block contenido_cambia %}


<h1></h1>
{% if mensaje %}
<h2>{{ mensaje }}</h2>


{% else %}


<h1>Lista de amigos desde BBDD</h1>

{% for ami in Amiguitos %}
<h4>{{ ami.nombre }} , {{ ami.dni }}</h4>
<a class="btn btn-danger" href="{% url 'eliminarAmigo' ami.id %}">Eliminar</a></li>
<a class="btn btn-danger" href="{% url 'editarAmigo' ami.id %}">Editar</a></li>



{% endfor %}
{% endif %}

<div>
    <a class="btn btn-primary" href="{% url 'amigos' %}">Agregar amigos</a></li>
</div>

{% endblock %}

